<?xml version="1.0"?>
<model>
  <name>uas_hitl</name>
  <version>1.0</version>
  <sdf version='1.5'>uas_hitl.sdf</sdf>

  <author>
   <name>Nicolas Perrault</name>
   <email>nipe1783@colorado.edu</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor simplified for use with HITL.
  </description>
</model>
